<form method='post' action=''>
  {{items.form_build_id}}
  {{items.form_id}}
  {{items.form_token}}
  <div class='form'>{{items.name}}</div>
  <div class='form'>{{items.gender}}</div>
  <div class='form'>{{items.about_employee}}</div>
  <div class='form'>{{items.save}}</div>
</form>
