<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ninestars Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ directory }}/images/favicon.png" rel="icon">
  <link href="{{ directory }}/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v4.7.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        {{ page.logo }}
      </div>

      <nav id="navbar" class="navbar">
        {{ page.menu }}
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="align-items-center">
    {{ page.content }}
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      {{ page.about}}
    </section>
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      {{ page.services }}
    </section>
    <!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      {{ page.portfolio }}
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      {{ page.faq }}
    </section>
    <!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      {{ page.team }}
    </section>
    <!-- End Team Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      {{ page.clients }}
    </section>
    <!-- End Clients Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
<div class="section-title">
<h2>Contact Us</h2>

<p>Contact us the get started</p>
</div>

<div class="row">
<div class="col-lg-5 d-flex align-items-stretch">
<div class="info">
<div class="address">
<h4>Location:</h4>

<p>A108 Adam Street, New York, NY 535022</p>
</div>

<div class="email">
<h4>Email:</h4>

<p>info@example.com</p>
</div>

<div class="phone">
<h4>Call:</h4>

<p>+1 5589 55488 55</p>
</div>
<iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" style="border:0; width: 100%; height: 290px;"></iframe></div>
</div>

<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
  {{ page.contact }}
</div>

<!-- <div class="mt-5 mt-lg-0 d-flex align-items-stretch">
  <form action="forms/contact.php" class="php-email-form" method="post" role="form">
    <div class="row">
      <div class="form-group col-md-6"><label for="name">Your Name</label> <input class="form-control" id="name" name="name" placeholder="Your Name" required="" type="text" /></div>

      <div class="form-group col-md-6 mt-3 mt-md-0"><label for="name">Your Email</label> <input class="form-control" id="email" name="email" placeholder="Your Email" required="" type="email" /></div>
    </div>

    <div class="form-group mt-3"><label for="name">Subject</label> <input class="form-control" id="subject" name="subject" placeholder="Subject" required="" type="text" /></div>
    <div class="form-group mt-3"><label for="name">Message</label><textarea class="form-control" name="message" required="" rows="10"></textarea></div>

    <div class="my-3">
      <div class="loading">Loading</div>

      <div class="error-message">&nbsp;</div>

      <div class="sent-message">Your message has been sent. Thank you!</div>
    </div>

    <div class="text-center"><button type="submit">Send Message</button></div>
  </form>
</div> -->


</div>
</div>

    </section>
    <!-- End Contact Us Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    {{ page.footer }}
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>

</html>
